body{
    max-width: 1024px;
    background-color: rgba(201, 196, 196, 0.281);
    
    margin: 0 auto;
}
.photo{
    width: 22rem;
    float: left;
    margin: 10px 15px 15px 10px ;
}
div{
    float: none;
    margin: 10px 15px 15px 10px ;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family:Helvetica,Arial,sans-serif;
}
a{
    color: #0366d3;
    text-decoration: none;
    font-size: 3rem;
}
h2{
    border-bottom: 1px solid #d2d4d8;
}